{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Despre noi</h3>
    <br>
    <p>Acest Sistem de clasificare a deseurilor a fost realizat de Alexandru Botone si reprezinta partea practica a
    lucrarii de diseratie, specializarea SADE.</p>
    <p>Acest proiect este utilizabil, insa pentru o integrare intr-o statie de selectare a deseurilor, acesta trebuie
    adaptat cerintelor clientului. Dezvoltatorul poate sa ofere suport in mod voluntar, fara cerinte materiale, in
    scopul protejarii naturii.</p>
    <p>Utilizarea acestui proiect fara acceptul dezvoltatorului este interzisa.</p>
    <br>
    <h3>Contact</h3>
      <ul>
             <li>alexbotone@gmail.com</li>
             <li>alexandru.botone@econ.ubbcluj.ro</li>
        </ul>
    <br>
    <br>

</div>

{% endblock %}