{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Aceast proiect face parte din lucrarea de disertatie "Sistem inteligent de selectare a
        deseurilor" a lui Alexandru Botone</h3>
    <br>
    <p>Am realizat acest proiect in cadrul sustinerii lucrarii de disertatie "Sistem inteligent de selectare a
        deseurilor", prezentat in cadrul Universitatii Babes-Bolyai Cluj-Napoca, Facultatea de Stiinte Economice
        si Gestiunea Afacerilor, programul de masterat Sisteme de Asistare a Deciziilor Economice, sesiunea Februarie 2022.</p>
    <p>Aceasta lucrare a fost realizata sub coordonarea <strong>Conf.Univ.Dr. Monica Ciaca</strong>. Pentru dezvoltarea
        proiectului am aplicat atat cunostiintele dobandite in timpul cercetarii, competente personale dar acestea au
        fost doar un complement tuturor cunostiintelor dobandite in cadrul cursurilor la specializarile
        <strong>Informatica Economica</strong> si <strong>Sisteme de Asistare a Deciziilor Economice</strong>.</p>
    <p>Doresc sa multumesc tuturor profesorilor care au adus un aport in dezvoltarea mea.
    <br>
    <h3>Motivatie</h3>
    <br>
    <p>Am dorit sa realizez aceasta lucrare pentru a aduce un plus in domeniul gestiunii deseurilor, deoarece pe
        langa constientizare, selectare si igienizare in limita posibilitatiilor personale, acest proiect este un
        alt aport pe care eu il pot aduce in acest moment. Este un proiect care se muleaza pe competentele mele si
        am reusit sa-l realizez din datorie fata de univers. Acest program software a fost o adevarata provocare
        personala, pe care am tratat-o cu maxima seriozitate si am cautat optimul in tot ce inseamna dezvoltare.
        Desigur am incercat sa pun accentul pe partile esentiale ale proiectului – soluția de invatare, sistemul
        de backend, scriptul de rulare pe orice OS, si mai putin pe modulul de demonstratie, interfata grafica.</p>
    <p>
        <i>"Personal, consider ca aceasta lucrare este un succes atat pentru mine, cat si pentru natura. In
            dezvoltarea acestei lucrari am invatat să utilizez mai bine anumite tehnologii, am acumulat informatii din
            studiile efectuate si am cautat sa optimizez solutiile existente. Acest proiect este o reusita personala,
            tot ce am invatat am aplicat in realizarea acestui sistem."
        </i>
    </p>
    <br>
    <br>

</div>

{% endblock %}